/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
}

.banner {
    background-image: url('./images/anandu-vinod-pbxwxwfI0B4-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Add other styles as needed */